* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

header,
main,
#contact,
footer {
    background-color: #fdfdfd;
}


h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #395664;
}

/* header */
header {
    width: 100%;
    height: auto;
    display: flex;
    text-transform: uppercase;
    background-color: rgba(57, 86, 100, 0.85);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.logo,
nav {
    line-height: 8vh;
}

.logo {
    margin-left: 2vw;
    font-size: xx-large;
}

.logo a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

nav ul li a:hover {
    text-shadow: 0 0 1px black;
}


/*banner*/
.banner {
    position: relative;
    width: 100%;
    min-height: 60vh;
    height: 60vh;
    background-image: url(images/interior-has-armchair-empty-white-wall-background-3d-rendering.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: #395664;
}

.banner h1 {
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 60px;
    animation: h1Animation 2s ease;
}

.banner h2 {
    position: absolute;
    top: 40%;
    right: 20%;
    font-size: 40px;
    animation: h2Animation 2s 1s ease both;
}

@keyframes h1Animation {
    from {
        top: 30%;
        right: -100%;
    }

    to {
        top: 30%;
        right: 20%;
    }
}

@keyframes h2Animation {
    from {
        top: 40%;
        right: -100%;
    }

    to {
        top: 40%;
        right: 20%;
    }
}


/*Main*/
main {
    line-height: 2;
}

main div h2 {
    text-align: center;
}

#about-us,
#why-us,
#price,
#gallery {
    padding: 10vh 10vw;
}


/* O nas */
main #about-us {
    display: flex;
    text-align: justify;
}

main div .photo {
    width: 30vw;
    background-image: url(images/60378-turquoise-color-paint-stroke-brush-teal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

main #about-us .wrapper {
    width: 70vw;
    margin-left: 5vw;
}


/*Dlaczego my*/
#why-us {
    background-color: #e3e3e3;
    background-repeat: no-repeat;
    background-size: cover;
}

#why-us h2 {
    color: black;
}


#why-us .wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}


#why-us .wrapper i {
    width: 25vw;
    background-color: transparent;
    font-size: 35px;
    padding: 20px;
    border-right: 3px dotted black;
}

#why-us .wrapper i:last-child {
    border-right: none;
}

#why-us .wrapper p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 35px;
}

#why-us .wrapper p~p {
    font-weight: normal;
    margin-top: 15px;
}

/* Wycena */
#price {
    display: flex;
}

#price .wrapper {
    width: 50vw;
}

#price .wrapper~.wrapper {
    width: 50vw;
}


/* Galeria */
#gallery {
    background-color: #e3e3e3;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.fotos div {
    height: auto;
    padding: 0px;
    overflow: hidden;
    width: 33%;
}

.fotos img {
    width: 100%;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    filter: grayscale(50%);
    transition: 1s linear;
}

.fotos img:hover {
    transform: scale(1.1);
    transition: 1s linear;
    filter: grayscale(0%);
}


/*Kontakt*/
#contact {
    display: flex;
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact address a {
    color: black;
}

/*Adres*/
address {
    width: 50%;
    padding-top: 8%;
    padding-left: 18%;
}

.contact-wrapper {
    text-align: left;
    font-style: normal;
}

.contact-wrapper h2 {
    padding-bottom: 10px;
}

.contact-wrapper a i {
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10px;
    color: #395664;
}

.contact-wrapper a i:hover {
    text-shadow: 0 0 1px black;
}

/*Formularz*/
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 35px;
    border-radius: 5px;
}

form * {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.chose-file {
    width: 50%;
    border: none;
    outline: none;
}

.submit-btn {
    width: 25%;
    padding: 10px;
    margin-left: auto;
    font-weight: bold;
    background-color: #395664;
    color: rgba(255, 255, 255, 0.925);
}

.submit-btn:hover {
    background-color: #578297;
}

/*footer*/
footer {
    text-align: center;
    font-size: 12px;
    color: aliceblue;
    padding: 3vh;
    width: 100%;
    background-color: rgba(57, 86, 100, 0.85);
}



/* -----------MEDIA-PORTRAIT---------- */
@media (max-width: 1440px) {
    .banner {
        height: 100vh;
    }
}

@media (max-width: 1280px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner h2 {
        font-size: 30px;
    }
}

@media (max-width: 920px) {
    #price .wrapper~.wrapper {
        margin-left: 5vw;
    }
}

@media (max-width: 610px) {
    header {
        height: 14vh;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    nav {
        line-height: 5vh;
        padding-top: 2vh;
    }


    /* Banner */
    .banner {
        height: 40vh;
    }

    .banner h1 {
        top: 30%;
        right: 10%;
        font-size: 30px;
        animation: none;
    }

    .banner h2 {
        top: 50%;
        right: 10%;
        font-size: 25px;
        animation: none;
    }

    /* O nas */
    main #about-us {
        flex-direction: column;
    }

    main div .photo {
        width: 100%;
        height: 40vh;
        justify-content: center;
    }

    main #about-us .wrapper {
        width: 100%;
        margin-left: 0;
    }


    /*Dlaczego my*/
    #why-us .wrapper {
        flex-direction: column;
    }

    #why-us .wrapper i {
        width: 80vw;
        background-color: transparent;
        border-right: none;
        border-bottom: 3px dotted black;
    }

    #why-us .wrapper i:last-child {
        border-bottom: none;
    }


    /* Wycena */
    #price {
        display: flex;
        flex-direction: column;
    }

    #price .wrapper {
        width: 80vw;
    }

    #price .wrapper~.wrapper {
        width: 80vw;
        margin-top: 5vh;
        margin-left: 0;
    }


    /* Galeria */
    .fotos img {
        width: 80vw;
    }

    .fotos div {
        width: 50%;
    }

    #gallery h2 {
        margin-bottom: 5vh;
    }


    /*Kontakt*/
    #contact {
        flex-direction: column;
    }

    .contact-wrapper {
        text-align: center;
    }

    address {
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 4vh;
        width: 100%;
    }

    form {
        width: 100%;
    }
}



@media (max-width: 430px) {
    nav {
        font-size: 14px;
    }

    .logo {
        padding: 5px;
    }

    .banner h1 {
        font-size: 25px;
    }

    .banner h2 {
        font-size: 20px;
    }

    .fotos div {
        width: 100%;
    }
}


@media (max-width: 360px) {
    .banner {
        height: 30vh;
    }

    #about-us {
        padding: 5vh 5vw;
    }

    header {
        height: 20vh;
    }

    .banner h1,
    .banner h2 {
        text-align: right;
    }

    form {
        padding: 0px;
    }

}


/* -----------MEDIA-LANDSCAPE---------- */
@media (max-width: 610px) and (orientation: landscape) {
    .banner {
        height: 80vh;
    }
}

@media (max-width: 430px) and (orientation: landscape) {
    .banner {
        height: 60vh;
    }
}

@media (max-width: 360px) and (orientation: landscape) {
    .banner {
        height: 80vh;
    }
}